ocp_master_group: masters
ocp_node_group: nodes
ocp_etcd_group: etcd
ocp_bastion_host: bastion
ocp_version: 3.6
ocp_rhn_user: "{{ lookup('env','rh_user') | default('')}}"
ocp_rhn_pass: "{{ lookup('env','rh_pass') | default('')}}"
ocp_rhn_pool_ids: "{{ lookup('env','rh_pool') | default('')}}"
ocp_internal_domain: ''
ocp_public_domain: ''
ocp_master_identity_providers: [{
    'name': 'htpasswd_auth',
    'login': 'true',
    'challenge': 'true',
    'kind': 'HTPasswdPasswordIdentityProvider',
    'filename': '/etc/origin/master/htpasswd'
  }]
ocp_master_cluster_method: native
ocp_master_cluster_hostname: "ocp.{{ocp_internal_domain}}"
ocp_master_cluster_public_hostname: "ocp.{{ocp_public_domain}}"
ocp_master_default_subdomain: "apps.{{ocp_public_domain}}"
ocp_hosted_metrics_deploy: yes
ocp_hosted_logging_deploy: false
ocp_network_plugin: 'redhat/openshift-ovs-subnet'
ocp_local_package_repository: no
ocp_local_package_repository_url: ''
ocp_update_machine: no
ocp_container_runtime_docker_storage_type: overlay2
ocp_node_dnsmasq_additional_config_file: /usr/share/ansible/openshift-ansible/openshift-ansible-custom.conf.j2
ocp_dns_upstream:
- 8.8.8.8
- 8.8.4.4
ocp_timezone: UTC
ocp_ntp_upstream:
- 0.rhel.pool.ntp.org
- 1.rhel.pool.ntp.org
- 2.rhel.pool.ntp.org
- 3.rhel.pool.ntp.org

ocp_docker_ver_map:
 - ocp: 3.6
   docker: 1.12.6
 - ocp: 3.7
   docker: 1.12.6
 - ocp: 3.9
   docker: 1.13.1

ocp_docker_ver: "{{ ocp_docker_ver_map | selectattr('ocp', 'equalto', ocp_version) | map(attribute='docker') | list | first }}"
ocp_proxy_host: ''
ocp_proxy_port: ''
ocp_prereq_packages:
- wget
- git
- net-tools
- bind-utils
- iptables-services
- bridge-utils
- bash-completion
- kexec-tools
- sos
- psacct
- yum-utils
- "docker-{{ ocp_docker_ver }}"
- NetworkManager

ocp_vagrant_provider: ''
ocp_backlist_services:
- puppet
