# based on https://gist.github.com/jlebon/0cfcd3dcc7ac7de18a69
{% for dns in ocp_dns_upstream %}
server={{dns}}
{% endfor %}
strict-order
domain-needed
local=/{{ocp_internal_domain}}/
bind-dynamic
log-queries

# If you want to map all *.cloudapps.example.com to one address (probably
# something you do want if you're planning on exposing services to the
# outside world using routes), then add the following line, replacing the
# IP address with the IP of the node that will run the router. This
# probably should not be one of your master nodes since they will most
# likely be made unscheduleable (the default behaviour of the playbook).

address=/.cloudapps.{{ocp_public_domain}}/{{ hostvars[groups["masters"][0]]['ansible_' + ose_internal_iface]['ipv4']['address'] }}
